#numbers_and_operators input {
    width: 79px;
    text-align: center;
    border: 4px solid #d4c3c3;
    background: #cccc;
    margin: 5px;
}

#calculator {
    width: 400px;
    background: #ede6e6;
    padding: 25px;
}

#numbers_and_operators #numbersSection input {
    border-color: #c7dddd;
}

#numbers_and_operators>div {
    display: inline;
}

#numbers_and_operators #operatorsSection input {
    width: 87px !important;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#outputs {
    background: #afddcb;
    height: 50px;
}

#outputs {
    display: none;
}

.InputNumbersanndOperators {
    width: 30px;
    border: none;
    display: inline-block;
    float: right;
    background: transparent;
}

#screen {
    margin: 6px;
    background: #c7dddd;
    height: 40px;
}